In [25]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

## Problem 1

#### 1. Read the data and include an intercept in your model

In [16]:
# Read the data by using pandas
longley = pd.read_csv("longley.dat", header=None, delim_whitespace=True)

In [21]:
# Rename the column 
longley.rename(columns={0:"number of people employed", 1:"GNP implicit price deflator", 2: "GNP", 3:"number of unemployed",
4: "number of people in the armed forces", 5: "noninst. pop", 6: "year"}, inplace=True)

longley.head()

,number of people employed,GNP implicit price deflator,GNP,number of unemployed,number of people in the armed forces,noninst. pop,year
0,60323,83.0,234289,2356,1590,107608,1947
1,61122,88.5,259426,2325,1456,108632,1948
2,60171,88.2,258054,3682,1616,109773,1949
3,61187,89.5,284599,3351,1650,110929,1950
4,63221,96.2,328975,2099,3099,112075,1951

In [44]:
lm = LinearRegression()

model = lm.fit(longley.iloc[:,0:1], longley.iloc[:,1:])

model.coef_
model.intercept_

array([-9.31835702e+01, -1.43048231e+06, -5.53987401e+03, -3.31223884e+03,
       -6.82400878e+03,  1.86849256e+03])

,GNP implicit price deflator,GNP,number of unemployed,number of people in the armed forces,noninst. pop,year
0,83.0,234289,2356,1590,107608,1947
1,88.5,259426,2325,1456,108632,1948
2,88.2,258054,3682,1616,109773,1949
3,89.5,284599,3351,1650,110929,1950
4,96.2,328975,2099,3099,112075,1951
5,98.1,346999,1932,3594,113270,1952
6,99.0,365385,1870,3547,115094,1953
7,100.0,363112,3578,3350,116219,1954
8,101.2,397469,2904,3048,117388,1955
9,104.6,419180,2822,2857,118734,1956
10,108.4,442769,2936,2798,120445,1957
11,110.8,444546,4681,2637,121950,1958
12,112.6,482704,3813,2552,123366,1959
13,114.2,502601,3931,2514,125368,1960
14,115.7,518173,4806,2572,127852,1961
15,116.9,554894,4007,2827,130081,1962